@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
:root{
    --fontbetfair: 'Noto Sans', sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #FFB80C;
    background-size: cover;
    font-family: var(--fontbetfair);
}

header{
    background-color: rgba(0, 0, 0, 0.836);
    color: #FFB80C;
    text-align: center;
    padding: 30px;
    font-size: 3vw;
    font-weight: bolder;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 40px;
}


h2{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 1.7em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.473);
}

#moe{
    text-align: center;
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 1.1em;
}

.pmoeda{
    margin-right: 50px;
}

section#dados{
    padding: 20px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 7px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.76);
    font-size: 1.1em;
}

section#dados p{
    text-align: center;
    padding: 7px;
}

#inum, #imax{
    padding: 3px;
}

#pbotao{
    text-align: center;
    margin-top: 10px;
}

.botao{
    text-align: center;
    padding: 5px;
    font-size: 0.9em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.705);
    border-radius: 3px;
    margin: 10px;
}

.botao:hover{
    cursor: pointer;
    background-color: black;
    color: #FFB80C;
    font-weight: bold;
    border-radius: 3px;
}

#res{
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    background-color: black;
    color: #FFB80C;
    border-radius: 7px;
    margin: auto;
}

footer{
    top: 200px;
    left: 0px;
    font-size: 0.7em;
    text-align: center;
    color: black;
}